@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2"), url("../../fonts/ptsans.woff");
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2"), url("../../fonts/ptsansbold.woff");
  font-weight: bold;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/ubuntubold.woff2"), url("../../fonts/ubuntubold.woff");
  font-weight: bold;
}
