.features {
  background: $lightgrey;
  padding-bottom: 60px;
}

.features__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
  @include list;
  padding: 0 5px;
  text-align: center;
}

.features__item {
  width: 190px;
}

@media (max-width: 600px) {
  .features__list {
    flex-direction: column;
  }

  .features__item {
    width: 265px;
    margin: 0 auto;
  }
}
