.features {
  background: $lightgrey;
  padding-bottom: 60px;
}

.features__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 600px;
  margin: 0 auto;
  @include list;
  padding: 0 5px;
  text-align: center;
}

.features__item {
  width: 190px;
}

.features__item__title {
  position: relative;
  margin: 0;
  padding-top: 118px;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: $darkgrey;
}

.features__item__title::before {
  content: "";
  position: absolute;
  background-image: url(../img/sprite.png);
}

.features__item__title--first::before {
  background-position: -39px 0px;
  width: 43px;
  height: 31px;
  top: 62px;
  left: 71px;
}

.features__item__title--second::before {
  background-position: 0px -42px;
  width: 38px;
  height: 35px;
  top: 56px;
  left: 74px;
}

.features__item__title--third::before {
  background-position: 0px 0px;
  width: 39px;
  height: 42px;
  top: 52px;
  left: 75px;
}


.features__item__title::after {
  content: "";
  position: absolute;
  bottom: -17px;
  left: 23px;
  height: 2px;
  width: 132px;
  background: #e2e3e4;
}

.features__item__description {
  margin-top: 35px;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: $mediumgrey;
}

@media (max-width: 600px) {
  .features__list {
    flex-direction: column;
  }

  .features__item {
    width: 265px;
    margin: 0 auto;
  }

  .features__item__title--first::before,
  .features__item__title--first::after,
  .features__item__title--second::before,
  .features__item__title--second::after,
  .features__item__title--third::before,
  .features__item__title--third::after {
    left: 50%;
    transform: translateX(-50%);
  }


}
