.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 333px;
  margin: 0 auto;
  @include list;
}

.nav__item {
  width: 25%;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: normal;
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  color: $white;
  text-align: left;
}

.nav__item:nth-child(4) {
  text-align: center;
}

.nav__item svg {
  display: none;
}

.nav__link {
  position: relative;
  letter-spacing: 1px;
  border: 2px solid transparent;
}

.nav__link::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 50%;
  display: block;
  width: 0;
  height: 2px;
  background-color: $white;
  transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav__link:hover::after {
  content: " ";
  position: absolute;
  top: 20px;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: $white;
}

.nav__link:active {
  opacity: 0.7;
}

.nav__link:active::after {
  background-color: #30e3c8;
}

@media (max-width: 600px) {
  .nav__list {
    position: fixed;
    z-index: 10;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    width: 100%;
    max-width: 100%;
    height: 50px;
    font-size: 0;
    justify-content: space-between;
    background: $white;
    box-shadow: inset 0px 3px 11px -1px rgba(97,97,97,0.21);
  }

  .nav__item {
    width: 25%;
    font-size: 0;
  }

  .nav__link {
    font-size: 0;
    display: flex;
  }

  .nav__item svg {
    display: block;
    margin: 0 auto;
    padding-top: 14px;
    width: 20%;
    height: 25px;
    fill: #30e3c8;
  }

  .nav__item:active svg {
    fill: $green;
    filter: drop-shadow(0 0 3px rgba(80, 195, 175, 0.7));
  }
}
